[submodule "submodules/ultralytics"]
	path = submodules/ultralytics
	url = https://github.com/ultralytics/ultralytics.git
[submodule "submodules/sam3"]
	path = submodules/sam3
	url = https://github.com/facebookresearch/sam3.git
[submodule "submodules/inference"]
	path = submodules/inference
	url = https://github.com/ultralytics/inference.git
[submodule "submodules/supervision"]
	path = submodules/supervision
	url = https://github.com/roboflow/supervision.git
